--extra-index-url https://download.pytorch.org/whl/cu116

torch<=2.1.1+cu116
torchvision==0.14.1+cu116
faiss-cpu==1.7.3
pytorch-lightning<=1.9.4+cu116
pytorch-metric-learning<=2.0.1+cu116
torchaudio==<compatible version for CUDA 11.6>
numpy==1.24.1
rasterio==1.3.4
shapely==2.0.0
xarray==2023.1.0
black==22.10.0
flake8==5.0.4
isort==5.10.1
mypy==1.1.1
wandb==0.13.5
einops==0.3.2