--extra-index-url https://download.pytorch.org/whl/cu116

torch
torchvision
faiss-cpu
pytorch-lightning
pytorch-metric-learning
torchaudio
numpy==1.24.1
rasterio==1.3.4
shapely==2.0.0
xarray==2023.1.0
black==22.10.0
flake8==5.0.4
isort==5.10.1
mypy==1.1.1
wandb==0.13.5
einops==0.3.2